.tabs {
    margin-bottom: 30px;
}

.tabs-btn {
    // margin-top: 35px;

    display: flex;
    gap: 5px;

    font-size: 15px;
    font-weight: 400;

    list-style-type: none;
}

.tabs-btn__item {
    padding: 10px 12px;
    border: 1px solid #D7D7D7;

    cursor: pointer;

    &.toggle {
        color: #fff;
        background-color: #F15C13;
        border: 1px solid #F15C13;
    }
}

.tabs-btn {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;

    @media (max-width: 1140px) {
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    &::-webkit-scrollbar {
        // width: 6px;
        // height: 6px;
    }

    &.section::-webkit-scrollbar-track {
        // background-color: #e4e4e4;
        border-radius: 100px;
    }

    &.section::-webkit-scrollbar-thumb {
        // background-color: #d4aa70;
        border-radius: 10px;
    }
}

.tabs-btn__item {
    padding-left: 12px;
    padding-right: 12px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    min-width: 145px;

    text-align: center;
    line-height: 1;

    @media (max-width: 1140px) {
        flex-shrink: 0;
    }

}

.tabs-descr {
    border-top: 1px solid #D7D7D7;
    padding-top: 30px;

    margin-top: -1px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.tabs-descr__item {
    display: none;

    & * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.toggle {
        // display: block;
        display: inline-block;
    }
}