head
	title vent48

	<meta name="robots" content="noindex, nofollow">

	meta(charset="utf-8")
	meta(http-equiv='X-UA-Compatible', content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

	<script src="https://vent48.ru/g/libs/jquery/1.8.3/jquery.min.js"></script>
	//- <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script src="https://vent48.ru/t/v2944/images/main.js"></script>
	<link rel="stylesheet" href="https://vent48.ru/t/images/selectric.css">

	//- <script src="https://vent48.ru/g/shop2/shop2custom.js"></script>
	<link rel="stylesheet" href="https://vent48.ru/t/v2944/images/theme0/minified.css">
	<link rel="stylesheet" href="https://vent48.ru/t/v2944/images/main.css">

	link(href="css/main.min.css" rel="stylesheet")
	script(src="js/scripts.min.js" defer)